.new_contact {
  background: #12243a;
  font-size: 22px;
  padding: 20px;
  margin: 10px;
  color: #ffff;
}

.arrow_left {
  flex: 0 0 auto;
  width: 4.33333333%!important;
}

.arrow_left a {
  color: #fff !important;
}

.upload_picture {
  height: 150px;
  width: 150px!important;
  border: 1px solid#ddd;
  border-radius: 50%;
  background: #ddd;
  margin-top: 30px!important;
}

.upload_center {
  justify-content: center;
  align-items: center;
}

.profile {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px!important;
  margin-bottom: 70px!important;
  text-align: center;
}

.input_box {
  border: none!important;
  border-bottom: 1px solid#ddd!important;
  /* margin-top: 34px!important; */
}

.pr-2 {
  padding-right: 4px;
  top: -2px;
  position: relative;
}

.btn_radius {
  border-radius: 20px!important;
  /* margin-top: 34px!important; */
}

.btn_row {
  text-align: center;
  margin-bottom: 30px!important;
  margin-top: 30px!important;
}

.btn_save, .btn_discard {
  margin-right: 10px;
  width: 16%;
  border-radius: 20px!important;
}

.input_search {
  border-radius: 20px!important;
}

.search_row {
  background: #12243a;
  padding: 30px!important;
}

.icon_size {
  font-size: 26px;
}

.mt_34 {
  margin-top: 34px!important;
}

.contact {
  font-size: 20px;
  color: #fff;
  margin-top: 16px;
  border-bottom: 1px solid#fff;
  padding-bottom: 8px!important;
}

.contact_detail {
  color: #fff;
  margin: 20px 0px!important;
  border-bottom: 1px solid#fff;
  padding: 10px 0px!important;
  cursor: pointer!important;
}

.msg_icon, .call_icon {
  font-size: 32px!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call_icon a {
  color: #fff!important;
  font-size: 38px!important;
}

.image_icon {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer!important;
}

.message_input {
  background-color: #12243a!important;
  color: #fff!important;
  font-size: 24px!important;
}

.left_message_icon {
  border-bottom-left-radius: 25px!important;
  border-top-left-radius: 25px!important;
  padding-top: 20px!important;
  padding-right: 32px!important;
  text-align: center!important;
  font-size: 32px!important;
  padding-bottom: 16px!important;
  padding-left: 32px!important;
  border-right: none!important;
  background-color: #12243a!important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  color: #fff!important;
}

.right_message_icon {
  border-bottom-right-radius: 20px!important;
  border-top-right-radius: 20px!important;
  padding-top: 16px!important;
  padding-left: 32px!important;
  padding-bottom: 16px!important;
  padding-right: 32px!important;
  font-size: 24px!important;
  background-color: #12243a!important;
  color: #fff!important;
  cursor: pointer!important;
}

.message_text {
  border: 1px solid#40505e!important;
  padding-top: 4px!important;
  border-radius: 14px!important;
  background: #40505e!important;

}

.content_section {
  padding: 30px!important;
}

.message_show {
  color: #fff!important;
  font-size: 24px!important;
}

.display_message {
  min-height: 700px!important;
}

.m_height {
  min-height: 600px;
}

.left_search_icon {
  border-bottom-left-radius: 25px!important;
  border-top-left-radius: 25px!important;
  padding-top: 18px!important;
  padding-right: 32px!important;
  text-align: center!important;
  font-size: 24px!important;
  padding-bottom: 16px!important;
  padding-left: 32px!important;
  border-right: none!important;
  background-color: #fff!important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}

.right_add_icon {
    border-bottom-right-radius: 25px!important;
    border-top-right-radius: 25px!important;
    padding-top: 8px!important;
    padding-right: 32px!important;
    text-align: center!important;
    font-size: 24px!important;
    padding-bottom: 14px!important;
    padding-left: 32px!important;
    background-color: #fff!important;
    border-left: none!important;
    color: #000!important;
    border-bottom-left-radius: 0px!important;
    border-top-left-radius: 0px!important;
}

.messager_name, .name {
  text-transform: capitalize;
}

.image_user {
  width: 82%!important;
}

.error {
  color: red;
  padding-left: 10px;
}

.messager_user {
  width: 64%!important;
}

.message_text {
  word-wrap: break-word;
}

.time_text {
  text-align: right!important;
  color: #fff!important;
}